<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583685685705-446bkdqbm1qqv17n92b60f3i55o55ahf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583685685705-446bkdqbm1qqv17n92b60f3i55o55ahf</string>
	<key>API_KEY</key>
	<string>AIzaSyCjxcr6a1kfOvC7nbQ9HYFqbIpNjnya2Tw</string>
	<key>GCM_SENDER_ID</key>
	<string>583685685705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Antonio-Flores.MedicalApp</string>
	<key>PROJECT_ID</key>
	<string>healthapp-6eeb1</string>
	<key>STORAGE_BUCKET</key>
	<string>healthapp-6eeb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583685685705:ios:8b4145042c1552ac</string>
	<key>DATABASE_URL</key>
	<string>https://healthapp-6eeb1.firebaseio.com</string>
</dict>
</plist>